@import './app/main/main.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

@mixin global-styles {
    /* Add global styles here */
    .mat-flat-button.mat-small {
        min-width: 1%;
        padding-left: 8px;
        padding-right: 8px;
    }
}
