
.marc {
    border-collapse: collapse;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  
    .marc-row {
     // height: 2em;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .marc-column {
      display: flex;
      flex-direction: column;
      word-break: break-all;
      padding-left: 8px;

      .marc-column-value {
        gap: 8px;
        display: flex;
        flex-direction: row;
      }
    }
  
    .marc-row:nth-child(odd) {
      background: rgb(243, 245, 244);
    }
  
    .tag {
      color: rgb(128, 0, 128);
      width: 30px;
      padding-left: 3px;
    }
  
    .ind {
      color: rgb(0, 128, 0);
      width: 1em;
    }
  
    .subfield {
      color: rgb(0, 0, 255);
      // width: 3em;
    }
  
    .value {
      width: fit-content;
    }
  }