<div class="marc">
    <div class="marc-row" *ngFor="let entry of marcFields">
      <div class="marc-column">
        <change-icon changeType={{entry.change}}></change-icon>
      </div>
      <div class="marc-column">
        <span class="tag">{{entry.tag}}</span>
      </div>
      <div class="marc-column">
        <span class="ind">{{entry.ind1}}</span>
      </div>
      <div class="marc-column">
        <span class="ind">{{entry.ind2}}</span>
      </div>
      <div class="marc-column">
        <div class="marc-column-value" *ngFor="let valueEntry of entry.value">
          <span *ngIf="valueEntry.code && valueEntry.code != ''" class="subfield">$${{valueEntry.code}}
          </span>
          <span class="value">{{valueEntry.value}}
          </span>
        </div>
      </div>
    </div>
  </div>