<mat-expansion-panel *ngIf="isUserAllowedIZ">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="item-title">
        <div>
          <mat-icon color="primary">add_item</mat-icon>
          <span>
            {{ 'templatesManagement.addIzTemplate' | translate }}
          </span>
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <textarea #newInstitutionTemplateElement class="code" cdkTextareaAutosize></textarea>
  <div class="add-template-actions">
    <button mat-flat-button color="primary" [disabled]="!newInstitutionTemplateElement.value"
      (click)="addInstitutionTemplate(newInstitutionTemplateElement)">
      {{ 'templatesManagement.add' | translate }}
    </button>
  </div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="item-title">
        <div>
          <mat-icon color="primary">add_item</mat-icon>
          <span>
            {{ 'templatesManagement.addPersonalTemplate' | translate }}
          </span>
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <textarea #newUserTemplateElement class="code" cdkTextareaAutosize></textarea>
  <div class="add-template-actions">
    <button mat-flat-button color="primary" [disabled]="!newUserTemplateElement.value"
      (click)="addUserTemplate(newUserTemplateElement)">
      {{ 'templatesManagement.add' | translate }}
    </button>
  </div>
</mat-expansion-panel>

<div class="template-sets-header">
  <h2> {{ 'templatesManagement.templates' | translate }}</h2>
</div>
<div *ngFor="let templateSet of templateSets">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let template of templateSet.getTemplates()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="item-title">
            <div>
              <mat-icon color="primary">control_point_duplicate</mat-icon>
              <span>{{template.getName()}}</span>
            </div>
            <span class="origin-badge builtin-chip" *ngIf="template.getOrigin() == 'BUILTIN'">
              <mat-icon class="origin-icon">lan</mat-icon>
              <span>{{ 'templatesManagement.builtIn' | translate }}</span>
            </span>
            <span class="origin-badge user-chip" *ngIf="template.getOrigin() == 'USER'">
              <mat-icon class="origin-icon">person</mat-icon>
              <span>{{ 'templatesManagement.originUser' | translate }}</span>
            </span>
            <span class="origin-badge iz-chip" *ngIf="template.getOrigin() == 'INSTITUTION'">
              <mat-icon class="origin-icon">home_work</mat-icon>
              <span>{{ 'templatesManagement.originIZ' | translate }}</span>
            </span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item class="template-rule" *ngFor="let rule of template.getRules()">
          <mat-icon matListItemIcon color="primary">rule</mat-icon>
          {{rule.getName()}}
        </mat-list-item>
      </mat-list>

      <!-- View mode -->
      <ng-container *ngIf="editingTemplateName !== template.getName()">
        <details class="template-source">
          <summary>
            {{ 'templatesManagement.source' | translate }}
          </summary>
          <textarea cdkTextareaAutosize readonly class="code"
            value="{{template.getSource()}}"></textarea>
        </details>
        <div class="template-actions" *ngIf="template.getOrigin() == 'USER'">
          <button mat-flat-button class="mat-small" color="primary"
            (click)="startEdit(template)">
            <mat-icon>edit</mat-icon>
            {{ 'templatesManagement.edit' | translate }}
          </button>
          <button mat-stroked-button class="mat-small btn-remove"
            (click)="removeUserTemplate($event, template.getName())">
            <mat-icon>delete_outline</mat-icon>
            {{ 'templatesManagement.remove' | translate }}
          </button>
        </div>
        <div class="template-actions" *ngIf="template.getOrigin() == 'INSTITUTION' && isUserAllowedIZ">
          <button mat-flat-button class="mat-small" color="primary"
            (click)="startEdit(template)">
            <mat-icon>edit</mat-icon>
            {{ 'templatesManagement.edit' | translate }}
          </button>
          <button mat-stroked-button class="mat-small btn-remove"
            (click)="removeInstitutionTemplate($event, template.getName())">
            <mat-icon>delete_outline</mat-icon>
            {{ 'templatesManagement.remove' | translate }}
          </button>
        </div>
        <div class="template-actions" *ngIf="template.getOrigin() == 'INSTITUTION' && !isUserAllowedIZ">
          <span class="iz-level-label">{{ 'templatesManagement.izLevel' | translate }}</span>
        </div>
      </ng-container>

      <!-- Edit mode -->
      <ng-container *ngIf="editingTemplateName === template.getName()">
        <textarea class="code" cdkTextareaAutosize [(ngModel)]="editSource"></textarea>
        <div class="template-actions">
          <button mat-stroked-button class="mat-small"
            (click)="cancelEdit()">
            {{ 'templatesManagement.cancel' | translate }}
          </button>
          <button mat-flat-button class="mat-small" color="primary"
            [disabled]="!editSource"
            (click)="saveEdit(template)">
            <mat-icon>save</mat-icon>
            {{ 'templatesManagement.save' | translate }}
          </button>
        </div>
      </ng-container>

    </mat-expansion-panel>
  </mat-accordion>
</div>