.hidden {
  display: none;
}


.info-test-env {
  color: #963031;
  border: 2px solid #963031;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.entities-list {
  .mat-list-item {
    height: 50px;
    padding: unset;

    .mat-icon {
      margin-right: 10px;
    }
  }

  .entity-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.selected-container {
  padding: 3px;
}

.selected-head {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;

  button {
    margin-right: 0.5rem;
  }
}

.selected-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.entity-title {
  margin: 0;
  line-height: 20px;
}

.entity-subtitle {
  margin: 0;
  font-size: small;
  font-weight: normal;
  color: #999;
}

.entity-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.record-expander-unauthorized {
  padding-top: 1rem;

  h1 {
    display: flex;

    .mat-icon {
      margin-right: 4px;
    }
  }
}
body[class*=cloudapp-theme] .mat-expansion-panel-body {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  overflow: scroll;
}

.empty-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    margin-top: 20px;
  }
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  animation-direction: alternate;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.loading-shade {
  flex-direction: column;

  .loading-info {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    color: #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

@media screen and (max-width: 450px) {
  .expand-view-info {
    display: block;
    text-align: right;
    margin-top: 15px;
  }
}