<!-- Test Flag -->
<ng-container *ngIf="!isProdEnvironment">
  <div class="info-test-env">
    {{ 'main.testEnv' | translate }}
  </div>
</ng-container>

<!-- Main View -->
<div *ngIf="isAuthorizationDone">
  <div class="record-expander-main" *ngIf="isInstitutionAllowed">

    <mat-tab-group>
      <mat-tab label="Items">
        <div *ngIf="entities.length == 0">
          <h2 translate>main.noMmsIdMsg</h2>
        </div>

        <div class="entities-list" *ngIf="entities.length > 0">
          <mat-action-list [ngClass]="{'hidden' : selectedEntity }">
            <ng-container *ngFor="let entity of entities">
              <mat-list-item matTooltip="{{entity.description}}" [matTooltipShowDelay]="800"
                (click)="loadRecord(entity)">
                <mat-icon color="primary">menu_book</mat-icon>
                <span class="entity-description">{{entity.description}}</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-action-list>
        </div>

        <div class="selected-container" *ngIf="selectedEntity">

          <div class="selected-head">
            <button mat-icon-button (click)="navigateBack()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="entity-title">
              <h1 class="entity-title">{{selectedEntity.title}}</h1>
              <span class="entity-subtitle">{{selectedEntity.mms_id}}</span>
            </div>
          </div>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="item-title">
                  <div>
                    <mat-icon color="primary">code</mat-icon>
                    <span>
                      {{ 'main.inspectMarc' | translate }}
                    </span>
                    <span [ngClass]="{'hidden' : !hasChanges }" class="template-changed-badge">
                      <mat-icon color="primary">edit</mat-icon>
                    </span>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

            <app-marc-table [xmlString]="xmlString"></app-marc-table>
            </ng-template>
          </mat-expansion-panel>

          <div class="selected-actions">
            <button mat-flat-button color="primary" (click)="saveRecord()"
              [disabled]="!selectedEntity || !hasChanges || (loader.isLoading | async)">
              <mat-icon inline=true>save</mat-icon>
              {{'main.saveButtonLabel' | translate }}
            </button>

            <button mat-flat-button color="secondary" (click)="resetChanges()"
              [disabled]="!selectedEntity || !hasChanges || (loader.isLoading | async)">
              <mat-icon inline=true>undo</mat-icon>
              {{'main.resetButtonLabel' | translate }}
            </button>
          </div>

          <div class="template-set-container" *ngFor="let templateSet of getTemplateSets()">
            <h2>{{templateSet.getName()}}</h2>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let template of templateSet.getTemplates()">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="item-title">
                      <div>
                        <mat-icon color="primary">control_point_duplicate</mat-icon>
                        <span>{{template.getName()}}</span>
                        <span [ngClass]="{'hidden' : !selectedEntity['appliedTemplates'][template.getName()] }"
                          class="template-applied-badge">
                          <mat-icon color="primary">done</mat-icon>
                        </span>
                      </div>
                      <button mat-flat-button class="mat-small" color="primary"
                        (click)="applyTemplate($event, template)">
                        {{'main.applyTemplateButtonLabel' | translate }}
                      </button>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="template-list-main">
                  <mat-list-item class="template-rule" *ngFor="let rule of template.getRules()">
                    <mat-icon matListItemIcon color="primary">rule</mat-icon>
                    {{rule.getName()}}
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Manage templates">
        <app-templates-management [isUserAllowedIZ]="isUserAllowedIZ"></app-templates-management>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!-- Institution not allowed -->
  <div class="record-expander-unauthorized" *ngIf="!isInstitutionAllowed">
    <h1>
      <mat-icon inline="true">error</mat-icon>
      {{ 'unauthorized.headline' | translate }}
    </h1>
    <p>
      {{ 'unauthorized.text1' | translate }}
      <a href="https://slsp.ch/en/contact" target="_blank">
        {{ 'unauthorized.link' | translate }}
      </a>
      {{ 'unauthorized.text2' | translate }}
    </p>
  </div>
</div>

<div class="loading-shade" *ngIf="loader.isLoading | async">
  <mat-spinner diameter="50"></mat-spinner>
  <p class="loading-info">{{ status.message | async }}</p>
</div>