.hidden {
  display: none;
}

.code {
  width: 100%;
  border: 1px solid #ddd;
  background: #f7f7f7;
  font-family: monospace;
  font-size: 11px;
  height: 300px;
  min-height: 100px;
  white-space: pre;
}

.entities-list {
  .mat-list-item {
    height: 50px;
    padding: unset;
  }

  .entity-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.selected-container {
  padding: 3px;
}

.selected-head {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;

  button {
    height: fit-content;
  }
}

.entity-title {
  margin: 0;
  line-height: 20px;
}

.entity-subtitle {
  margin: 0;
  font-size: small;
  font-weight: normal;
  color: #999;
}

.mat-icon {
  margin-right: 5px;
}

.template-set-container {
  margin-top: 20px;
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  div {
    display: flex;
    align-items: center;

    span {
      margin: 0;
    }

    span.template-applied-badge,
    span.template-changed-badge {
      margin-left: 10px;
    }
  }
}

.entity-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.record-expander-main {
  mat-expansion-panel {
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
  }

  .mat-accordion {

    span {
      margin-right: 5px;
      margin-bottom: 4px;
    }

    .template-actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 6px;
    }
  }
}

.template-source {
  cursor: pointer;
  margin-top: 50px;
}

.add-template-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.empty-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    margin-top: 20px;
  }
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  animation-direction: alternate;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.loading-shade {
  flex-direction: column;

  .loading-info {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    color: #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

@media screen and (max-width: 450px) {
  .expand-view-info {
    display: block;
    text-align: right;
    margin-top: 15px;
  }
}
