<!-- Main Container -->
<div *ngIf="isAuthorizationDone">

  <!-- Institution not allowed -->
  <div *ngIf="!isInstitutionAllowed" class="record-expander-unauthorized_institution">
    <h1>
      <mat-icon inline="true">error</mat-icon>
      {{ 'unauthorized_institution.headline' | translate }}
    </h1>
    <p>
      {{ 'unauthorized_institution.text1' | translate }}
      <a href="https://slsp.ch/en/contact" target="_blank">
        {{ 'unauthorized_institution.link' | translate }}
      </a>
      {{ 'unauthorized_institution.text2' | translate }}
    </p>
  </div>

  <!-- User not authorized-->
  <div *ngIf="isInstitutionAllowed && !isUserAllowedGeneral" class="record-expander-unauthorized">
    <h1>
      <mat-icon inline="true">error</mat-icon>
      {{ 'unauthorized_user.headline' | translate }}
    </h1>
    <p>
      {{ 'unauthorized_user.text1' | translate }} <br><br>
      {{ 'unauthorized_user.text2' | translate }} <br>
      - {{ 'unauthorized_user.role' | translate }}
    </p>
  </div>

  <!-- Main View (User Authorized)-->
  <div *ngIf="isInstitutionAllowed && isUserAllowedGeneral" class="record-expander-main">

    <mat-tab-group>
      <mat-tab label="{{ 'main.items' | translate }}">
        <ng-container *ngIf="(entities$ | async)?.length > 0; then entities; else noentities"></ng-container>

        <ng-template #noentities>
          <h2 translate>main.noMmsIdMsg</h2>
        </ng-template>

        <ng-template #entities>
          <div class="entities-list">
            <mat-action-list [ngClass]="{'hidden' : selectedEntity }">
              <ng-container *ngFor="let entity of entities$ | async">
                <mat-list-item matTooltip="{{entity.description}}" [matTooltipShowDelay]="800"
                  (click)="loadRecord(entity)">
                  <mat-icon color="primary">menu_book</mat-icon>
                  <span class="entity-description">{{entity.description}}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </mat-action-list>
          </div>
        </ng-template>

        <div class="selected-container" *ngIf="selectedEntity">

          <div class="selected-head">
            <button mat-icon-button (click)="navigateBack()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="entity-title">
              <h1 class="entity-title">{{selectedEntity.title}}</h1>
              <span class="entity-subtitle">{{selectedEntity.mms_id}}</span>
            </div>
          </div>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="item-title">
                  <div>
                    <mat-icon color="primary">code</mat-icon>
                    <span>
                      {{ 'main.inspectMarc' | translate }}
                    </span>
                    <span [ngClass]="{'hidden' : !hasChanges }" class="template-changed-badge">
                      <mat-icon color="primary">edit</mat-icon>
                    </span>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

              <app-marc-table [xmlString]="xmlString"></app-marc-table>
            </ng-template>
          </mat-expansion-panel>

          <div class="selected-actions">
            <button mat-flat-button color="primary" (click)="saveRecord()"
              [disabled]="!selectedEntity || !hasChanges || (loader.isLoading | async)">
              <mat-icon inline=true>save</mat-icon>
              {{'main.saveButtonLabel' | translate }}
            </button>

            <button mat-flat-button color="secondary" (click)="resetChanges()"
              [disabled]="!selectedEntity || !hasChanges || (loader.isLoading | async)">
              <mat-icon inline=true>undo</mat-icon>
              {{'main.resetButtonLabel' | translate }}
            </button>
          </div>


          <div class="template-sets-header">
            <h2> {{ 'templatesManagement.templates' | translate }}</h2>
          </div>
          <div *ngFor="let templateSet of getTemplateSets()">
            <!-- <h2>{{templateSet.getName()}}</h2> -->
            <mat-accordion>
              <mat-expansion-panel *ngFor="let template of templateSet.getTemplates()">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="item-title">
                      <div>
                        <mat-icon color="primary">control_point_duplicate</mat-icon>
                        <span>{{template.getName()}}</span>
                        <span [ngClass]="{'hidden' : !selectedEntity['appliedTemplates'][template.getName()] }"
                          class="template-applied-badge">
                          <mat-icon color="primary">done</mat-icon>
                        </span>
                      </div>
                      <button mat-flat-button class="mat-small" color="primary"
                        (click)="applyTemplate($event, template)"
                        [disabled]="selectedEntity['appliedTemplates'][template.getName()]">
                        {{'main.applyTemplateButtonLabel' | translate }}
                      </button>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="template-list-main">
                  <mat-list-item class="template-rule" *ngFor="let rule of template.getRules()">
                    <mat-icon matListItemIcon color="primary">rule</mat-icon>
                    {{rule.getName()}}
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'main.manageTemplates' | translate }}">
        <app-templates-management [isUserAllowedIZ]="isUserAllowedIZ"></app-templates-management>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="loading-shade" *ngIf="loader.isLoading | async">
  <mat-spinner diameter="50"></mat-spinner>
  <p class="loading-info">{{ status.message | async }}</p>
</div>